<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515235113100-bc68fvifmou7ek2gtknesvhe4i38stf9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515235113100-bc68fvifmou7ek2gtknesvhe4i38stf9</string>
	<key>API_KEY</key>
	<string>AIzaSyCOEl4uJ87un1jHEh0F7dvkkvsoBJtbdAY</string>
	<key>GCM_SENDER_ID</key>
	<string>515235113100</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kashchenko.inTouch</string>
	<key>PROJECT_ID</key>
	<string>intouch-3e1c9</string>
	<key>STORAGE_BUCKET</key>
	<string>intouch-3e1c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515235113100:ios:6387d12445e6b9219c33a9</string>
</dict>
</plist>