<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414045507922-jomvuh38djq3mlu0skfpadh7vgpoe2f0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414045507922-jomvuh38djq3mlu0skfpadh7vgpoe2f0</string>
	<key>API_KEY</key>
	<string>AIzaSyDAUTovhU3IoKE7u0lPaOHWq9PHUsoWfac</string>
	<key>GCM_SENDER_ID</key>
	<string>414045507922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kashchenko.inTouch</string>
	<key>PROJECT_ID</key>
	<string>intouch-c8247</string>
	<key>STORAGE_BUCKET</key>
	<string>intouch-c8247.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414045507922:ios:0a0f0231ea2ab2e65caa8b</string>
</dict>
</plist>